#mascota{

position:fixed;

right:20px;

bottom:20px;

width:220px;

height:320px;

pointer-events:none;

z-index:9999;

overflow:visible;

}

#mascota img{

position:absolute;

transform-origin:center;

}

@keyframes respirar{

0%{

transform:translateY(0px);

}

50%{

transform:translateY(-6px);

}

100%{

transform:translateY(0px);

}

}

#torso{

animation:respirar 2s infinite;

}

@keyframes cabeza{

0%{

transform:rotate(0deg);

}

50%{

transform:rotate(2deg);

}

100%{

transform:rotate(0deg);

}

}

#cabeza{

animation:cabeza 2s infinite;

}

@keyframes cola{

0%{

transform:rotate(-5deg);

}

50%{

transform:rotate(10deg);

}

100%{

transform:rotate(-5deg);

}

}

#cola{

animation:cola 1.5s infinite;

}

#cabeza{

position:absolute;

top:20px;

left:60px;

width:120px;

}

#torso{

position:absolute;

top:120px;

left:40px;

width:150px;

}

#cola{

position:absolute;

top:150px;

left:40px;

width:80px;

z-index:-1;

}

#piernas{

position:absolute;

top:225px;

left:80px;

width:90px;

}

